# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\web-development\sfprojects\my_project_name\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
